.DS_Store
.claude/settings.local.json

# Compiled binaries
/generate-models
/bridges/*/bridge

logs/
*.db*
*.yaml
!config.example.yaml
!registration.yaml.example
!**/example-config.yaml
!.pre-commit-config.yaml
!.github/**/*.yml
.env
.cache
.gocache
.conductor
go.work.sum
